<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        id="extensions:techietrash-NinjaKit"
        version="0.9.3a">
  <name>NinjaKit</name>
  <description>yet another greasemonkey. This is an experimental extension.</description>
  <author href="https://github.com/techietrash/NinjaKit/">os0x (mod by techietrash)</author>
  <icon src="Icon-48.png"/>
  <access origin="*" subdomains="true"/>
  <update-description href="https://github.com/techietrash/NinjaKit/raw/ui%2B%2B/NinjaKit.update.xml"/>
</widget>